<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BewKAK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dataDHT">
  <ngx-gauge
    type="arch"
    [value]="dataDHT.Temperature"
    label="Temperture"
    append="°C"
    foregroundColor="rgb(16, 4, 68)"
    [thick] = "screenDisplay.width"
    cap ="round"
    [thresholds]="thresholdConfig"
    max = "100"
    [size] = "screenDisplay.heiht"
  ></ngx-gauge>
  <ngx-gauge
    type="arch"
    [value]="dataDHT.Humidity"
    label="Humadity"
    append="%"
    foregroundColor="rgb(16, 4, 68)"
    [gthick] = "screenDisplay.width"
    cap ="round"
    [thresholds]="thresholdConfig"
    max = "100"
    [size] = "screenDisplay.heiht"
  ></ngx-gauge>
</div>
</ion-content>
